:root {
    /* ======================================== */
    /* COLORS                    */
    /* ======================================== */

    /**
   * @desc Main background color for the page.
   */
    --clr-background: #0A0D14;

    /**
   * @desc Background color for cards and elevated surfaces.
   */
    --clr-surface: #191E2A;

    /**
   * @desc Primary accent color for buttons, links, and highlights.
   */
    --clr-accent: #30E0A9;

    /**
   * @desc Primary text color for headings and important text.
   */
    --clr-text-primary: #ffffff;

    /**
   * @desc Secondary text color for paragraphs and less emphasized text.
   */
    --clr-text-secondary: #b8bcc4;

    /**
   * @desc Color for borders and dividers.
   */
    --clr-border: #2D3748;
}

:root {
    /* ======================================== */
    /* FONT SIZES                  */
    /* ======================================== */

    /**
   * @desc Use for the main hero heading (H1).
   */
    --fs-xxl: 3.5rem;
    /* ~56px */
    
    --fs-xlm: 2.8rem;
    /**
   * @desc Use for section titles (H2).
   */
    --fs-xl: 2.25rem;
    /* ~36px */
    
    /**
   * @desc Use for card titles and subheadings (H3).
   */
    --fs-lg: 1.5rem;
    /* ~24px */

    /**
   * @desc Use for larger body text or prices.
   */
    --fs-md: 1.125rem;
    /* ~18px */

    /**
   * @desc Base font size for body text and paragraphs.
   */
    --fs-base: 1rem;
    /* ~16px */

    /**
   * @desc Use for smaller descriptive text or labels.
   */
    --fs-sm: 0.875rem;
    /* ~14px */
}

body {
    font-family: 'Inter', sans-serif;
}

.hover_nav_link {
    color: var(--clr-text-primary) !important;
    /* default color */
    transition: color 0.3s ease;
}

.hover_nav_link:hover {
    color: var(--clr-text-primary) !important;
    font-weight: 600;
    /* hover color */
}

.pt-10 {
    padding-top: 6rem !important;
    /* your own size */
}

.pt-7 {
    padding-top: 4rem !important;
}

.fs-hero{
    font-size: var(--fs-xxl);
}

.heading-lg {
  font-size: clamp(1.5rem, 4vw, 3rem); /* scales smoothly */
  color: var(--clr-text-secondary);
  line-height: 0.8;  /* default line height */
  margin: 0.5rem 0;
}

@media (max-width: 992px) {
    .fs-hero{
        font-size: 2.5rem;
        margin-bottom: 20px;
    }
    .pt-10 {
        padding-top: 2rem !important;
        /* your own size */
    }
}
